#bigContent h1{
	text-align: center;
	margin-bottom: 100px;
}

#bigContent p{
	text-align: center;
	font-size: 18px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 250px;
}

.row {
	margin-bottom: -200px;
}

footer p{
	margin-top: -50px;
}
