body{
	height: 100%;
	width: 100%;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	background-image: url('../image/bg.png');
    background-size: auto;
    background-repeat:   no-repeat;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: underline;
}

#leftDiv{
	width: 25%;
	height: 100%;
	background-color: transparent;
	display: inline-block;
	vertical-align:top;
	margin: 0px;
}

#rightDiv{
	width: 74%;
	height: 100%;
	background-color: transparent;
	display: inline-block;
	margin: 0px;
	vertical-align:top;
}

#priceRange{
	display: flex;
	position: relative;
	justify-content: space-between;
}

#priceRange:before{
	background: black;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	margin-top: -1px;
	margin-left: 45%;
	position: absolute;
	top: 50%;
	width: 10%;
}

#lowerPriceDiv{
	border: 1px solid black;
	border-radius: 20px;
	width: 45%;
	font-size: 10px;
	padding: 2% 5% 0% 5%;
	display: inline-block;
}

#lowerPrice{
	width: 80%;
	font-size: 10px;
	background: transparent; 
 	border: none; 
}

#upperPriceDiv{
	border: 1px solid black;
	border-radius: 20px;
	width: 45%;
	font-size: 10px;
	padding: 2% 5% 0% 5%;
	display: inline-block;
}

#upperPrice{
	width: 80%;
	font-size: 10px;
	background: transparent; 
 	border: none; 
}

.checked {
    color: orange;
}

.filterP{
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	margin: 10% 0% 2% 0%;
}

input:focus {
    outline: 0;
}

input[type=submit]{
	border: transparent;
	border-radius: 7px;
	background-color: whitesmoke;
	margin: 2% 0% 0% 25%;
	width: 90px;
	height: 40px;
	padding: 0px 10px 0px 10px;
}

/*right div*/
#listPT{
	padding: 0% 0% 0% 5%;
	width: 100%;
	height: 100%;
}

.ptName{
	margin: 3px;
	margin-top: 10px; 
	font-size: 10px;
}
.location{

	margin: 3px;
	font-size: 10px;
}
.role{
	margin: 3px;
	font-size: 10px;
	color: #669966;
	text-decoration: underline;
	margin-bottom: 15px;
}


.table {
  display: table;         
  width: 100%;                      
  border-spacing: 30px;
}
.row {
  display: table-row;
  width: 100%;
  clear: both;
  margin: 5% 0% 5% 0%;
}
.col {
  float: left;
  display: table-column;         
  width: 25%;
  height: 10%;     
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
