/*css tab*/


.left, .right {
  width: 25%;
  text-align: center;
}

.middle {
  width: 50%;
  text-align: center;
}
.img100{
	max-width: 100%;
}
.menu-tab{
	display: inline;
    padding: 10px 15px 10px 15px;
    margin-left: 70px;
}
.big-padding{
	padding: 0 10%;
}
.devider{
	border: 1px black solid;
}
.box-tengah{
	border-left: 1px black solid;
	border-right: 1px black solid;
	padding: 1em; 
}

.star{
	max-width: 8%;
}
.center{
	text-align: center;
}

.jarak{
	margin-top: 15px;
    margin-bottom: 15px
}

.font-review{
	font-size: 13px;
}

.font-user{
	font-size: 20px;
}



/*css pricelist*/
.cont{
	margin-top: 45px;
}

#button{
	margin-right: 50px;
}

.btn-info{
	margin-left: -3px;
	font-size: 12px;
}

.left{
	float: left;
}

.left img{
	margin-bottom: 30px;
	border-radius: 50px;     
	margin-left: -29px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 170px;
}

.right{
	float: right;
	width: 51%;
	margin-right: 209px;

}

.right h5{
	text-align: justify; 
}

.right h6{
	text-align: justify;
}

.right p{
	text-align : justify;
	font-size: 14px;
}

.right1{
	margin-bottom: 30px;
	background: #ecf0f1;
	border-radius: 30px;
	border-top-left-radius: 0px;
	height: 170px;
	border-bottom-left-radius: 0px;
	width: 154%;
	padding: 20px;

}


#bottom1 ul{
	list-style: none;
}

#bottom1 ul li{
	float: right;
	margin-right: 17px;
	margin-top: 4px;
	font-size: 12px;
}

.right2{
	margin-bottom: 30px;
	background: #ecf0f1;
	border-radius: 30px;
	height: 170px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 154%;
	padding: 20px;
}

#bottom2 ul{
	list-style: none;
}

#bottom2 ul li{
	float: right;
	margin-right: 17px;
	margin-top: 4px;
	font-size: 12px;
}


.right3{
	background: #ecf0f1;
	border-radius: 30px;
	height: 170px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 154%;
	padding: 20px;
}

#bottom3 ul{
	list-style: none;
}

#bottom3 ul li{
	float: right;
	margin-right: 17px;
	margin-top: 4px;
	font-size: 12px;
}
