.img100{
	max-width: 100%;
}
.menu-tab{
	display: inline;
    padding: 10px 15px 10px 15px;
    margin-left: 70px;
}
.big-padding{
	padding: 0 10%;
}
.devider{
	border: 1px black solid;
}
.box-tengah{
	border-left: 1px black solid;
	border-right: 1px black solid;
	padding: 1em; 
}

.star{
	max-width: 8%;
}
.center{
	text-align: center;
}

.jarak{
	margin-top: 15px;
    margin-bottom: 15px
}

.font-review{
	font-size: 13px;
}

.font-user{
	font-size: 20px;
}