html,body{
	height: 100%;
	width: 100%;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #f2f2f2; 
}

#bigDiv{
    height: 100%;
}

#leftSide{
	float: left;
    width: 35%;
    height: 100%;
    background-color: white; 
}

#rightSide{
    height: 100%;
	float: left;
    width: 65%;
}

#imgLogo{
	margin: 5% 0% 5% 20%;
}

.sosmed{
	margin: 15% 5% 0% 10%;
}

#titleLeftSide{
	font-weight: 600;
	font-style: normal;
	font-size: 25px;
	margin: 0% 5% 0% 15%;
}

.leftSideWord{
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	margin: 0% 15% 0% 15%;
}

a{
	color: black;
	text-decoration: underline;
}

a:hover{
	color: black;
	text-decoration: underline;
}

#signIn{
	/*top right bottom left*/
	height:55%;
	width: 35%;
	margin: 20% 0% 0% 30%;
	background:white;
    box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 20px;
}

#welcomeRightSide{
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	padding: 10% 0% 0% 25%;
}

#form{
	padding: 1% 0% 0% 13%;
}

input {
	border: transparent;
	border-radius: 7px;
	height: 40px;
	width: 240px;
	background-color: whitesmoke;
	margin-bottom: 40px;
	padding: 0px 10px 0px 10px;
}

input.text{
	padding: 50px;
}

input[type=submit]{
	margin: 2% 0% 0% 25%;
	width: 90px;
	height: 40px;
	padding: 0px 10px 0px 10px;
}