#signUp{
	/*top right bottom left*/
	height:78%;
	width: 35%;
	margin: 9% 0% 0% 30%;
	background:white;
    box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 20px;
}

select {
	border: transparent;
	border-radius: 7px;
	height: 40px;
	width: 240px;
	background-color: whitesmoke;
	margin-bottom: 40px;
	padding: 0px 10px 0px 10px;
}
