body{
	height: 100%;
	width: 100%;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	background-image: url('../image/bg.png');
    background-size: auto;
    background-repeat:   no-repeat;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: underline;
}

#header {
	width:100%;
	height: 100px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header ul{
	float: right;
	padding-top: 30px;

}

#header ul li{
	display: inline;
	list-style:none;
	padding: 10px 15px 10px 15px;
    margin-left:70px;
}

#bigContent{
	/*top right bottom left*/
	margin:30px 50px 50px 50px;
	padding: 40px 80px 40px 80px;
	height:50%;
	background:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

#footer{
	height: 150px;
	padding: 10px 10% 10px 8%;
}

#footer p{
	font-size: 10px;
	margin:0;
}

.column {
    float: left;
    padding: 10px;
    height: 10px;
}

.leftFooter, .rightFooter {
  width: 25%;
  text-align: center;
}

.middleFooter {
  width: 50%;
  text-align: center;
}